.Fathermain{
    height: 60vh;  
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../../assets/bgmain.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.TitleMain{
    width: 70%;
}

.TitleMain p{
    color: white;
    margin-bottom: 0;
    font-weight: 300;
    text-shadow:  2px 2px black;
}

.infoTitleMain{
    padding-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.TitleMain h1{
    font-size: 70px;  
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  display: inline-block;
  text-shadow:  2px 2px black;
}


.spanx{
    color:  rgb(255, 132, 0);
}

.TitleMain h4{   
    color: white;
    text-shadow:  2px 2px black;
  
}

.Mainboxbutton button{
    background: rgb(255, 132, 0);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 5px 10px;
    width: 150px;
    margin-top: 20px;
    text-transform: uppercase;    
    font-size: 16px;
   text-transform: uppercase;
    font-weight: 700;   

}

.Mainboxbutton button:hover{
    transition: all 1s;
    background-color: rgb(135, 58, 0);
}

.Secondboxmain{
    width: 30%;
}

.Mainboxbutton{
    width: 100%;
    display: flex; 
}



@media (max-width:1050px){
    .Fathermain{
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .TitleMain{
        width: 70%;

    }

    .TitleMain h1{
        font-size: 40px;  
        font-weight: 700;
        text-transform: uppercase;
        color: white;
      display: inline-block;
      text-shadow:  2px 2px black;
      margin-bottom: 30px;
    }

    .TitleMain h4{   
        color: white;
        text-shadow:  2px 2px black;
        font-size: 20px;  
       
    }


    .TitleMain p{
        margin-top: 30px;
        margin-bottom: 30px;             
    }

    .infoTitleMain{
        margin-top: 10px;
    }

    .button{
        margin: 10px 10px 10px 0;
    }
    



}

@media (max-width:900px){
    
    .Secondboxmain{
     display: none;   
    }

    .infoTitleMain{
        margin: 0;
        text-align: center;
    }

    .Mainboxbutton{
        display: flex;
        justify-content: center;
    }

    .Fathermain{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../../assets/bgmain.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


}


