.Logoheader{
    width: 40px;
}

.Customnavbar {
    background-color: black;   
  }

  .nav-link{
    color: white!important;
    font-weight: 500;
    font-size: 20px;
  }

  .navbar-toggler.collapsed{
    margin: 0;
  }